body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.main-6 {
  background: #e7ea60;
}

.mb-6 {
  display: flex;
  margin-top: 50%;
}

.mb-8 {
  display: flex;
  margin-top: 20px;
}

.mb-9 {
  margin-top: 35px;
}

.p-10 {
  border-left: 10px;
  border-right: 10px;
}
.mb-10 {
  margin-top: 15px;
}

.mb-11 {
  margin-top: 35px;
  padding-bottom: 10%;
  border-color: black;
  border-left: 10px;
  border-right: 10px;
}

.m-12 {
  padding-left: 9%;
  align-items: center;
  width: 100%;
}

.mb-13 {
  padding-bottom: 20px;
}

.mb-14 {
  border-color: black;
  border-top: 10px;
  border-left: 10px;
  border-right: 10px;
}

.mb-15 {
  margin-bottom: 2%;
}

.img {
  width: 20%;
  /* padding-left: 5vh; */
}

.sec-1 {
  background: #e7ea60;
}

.pic-01 {
  background: #e7ea60;
}

.p-10 {
  border-color: black;
}

#carrot-img1 {
  display: none;
}

@media screen and (max-width: 600px) {
  #carrot-img1 {
    display: block;
  }
  #carrot-img2 {
    display: none;
  }
}
